.project-card {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 10px #ddd;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}
.project-card:hover {
  background: #fff;
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 15px #aaa;
}
.project-card:active {
  background: #eee;
  transform: translate(0px, 0px);
  box-shadow: 2px 2px 4px #aaa;
}
.project-card-wrapper img {
  max-height: 150px;
  grid-column: 1;
  grid-row: 1;
}
.project-card-wrapper a {
  text-decoration: none;
  color: #222;
}
.project-card-images {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
}