.Header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  font-size: 1.25em;
  user-select: none;
  pointer-events: none;
  z-index: 2;
}
.Header a {
  position: relative;
  padding: 15px 5px;
  text-decoration: none;
  color: #888;
  background: rgba(255, 255, 255, 0);
  border-radius: 0 0 5px 5px;
  pointer-events: auto;
  transition: padding .25s, background-color 1s, box-shadow 1s;
  text-shadow: 0 0 3px rgba(255, 255, 255, 1);
}
.Header a:last-child {
  margin-right: 30px;
}
.Header a:hover {
  padding-top: 25px;
  background: #ebebeb;
  box-shadow: 3px 3px 5px #ddd;
}
.Header a:active {
  background: #e5e5e5;
  padding-top: 32px;
}
.selected {
  background: #ebebeb !important;
  box-shadow: 3px 3px 2px #ddd;
  pointer-events: none !important;
}
.logo {
  display: block;
  position: absolute;
  top: 0;
  left: 1%;
  height: 50px;
  filter: brightness(85%);
  pointer-events: auto;
  /* cursor: pointer; */
}
.logo:hover {
  filter: brightness(80%);
}
@media (max-width: 600px) {
  .Header {
    justify-content: space-around;
  }
  .logo {
    display: none;
  }
}